body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.hidden {
  display: none !important;
}

.page-container {
  width: 100%;
}

#join-page {
  display: flex;
  flex-flow: row wrap; /* equivalent to flex-direction and flex-wrap */
  justify-content: space-around;
}

#game-banner {
  height: 3rem;
  width: 100%;
}

#game-banner > * {
  height: 3rem;
}

#game-banner-left {
  position: absolute;
  left: 1rem;
}

#game-banner-right {
  position: absolute;
  right: 1rem;
}

#game-body {
  display: flex;
  flex-flow: row wrap;
}

#game-body > div {
  flex: 1;
}

#game-left {
  /*
    - is empty
    p is player in 6 or 8
    s is self (player)
    d is part of display area
    6 is player in 6
    8 is player in 8

    ---p---
    p-----p
    --ddd--
    8-ddd-8
    --ddd--
    p-----p
    --sss--
  */

  --grid-dim: 7;
  --grid-half-dim: calc((var(--grid-dim) + 1) / 2);
  --grid-half-half: calc((var(--grid-half-dim) + 1) / 2);
  --grid-neg-half-half: calc(var(--grid-dim) - var(--grid-half-half));

  display: grid;
  grid-template-columns: repeat(var(--grid-dim), 1fr);
  grid-template-rows: repeat(var(--grid-dim), 1fr);
  grid-template-areas:
    ".  .  .  p5 .  .  . "
    "p4 .  .  .  .  .  p6"
    ".  .  dd dd dd .  . "
    "p3 .  dd dd dd .  p7"
    ".  .  dd dd dd .  . "
    "p2 .  .  .  .  .  p8"
    ".  .  ss ss aa .  . ";

  width: 100%;
}

.player {
  background-color: turquoise;
  border-radius: 10px;
  border: 3px solid lightseagreen;
  width: 10rem;
  height: 3rem;
  text-align: center;
}

.player-name {
  display: inline-block;
  background-color:lightgreen;
  border-radius: 5px;
  border: 1px solid lightseagreen;
  width: 8rem;
  height: 1rem;
  text-align: center;
  overflow: hidden;
}

#player-self {
  grid-area: ss;
}

.player-8:nth-of-type(2) {
  grid-area: p2;
}

.player-8:nth-of-type(3) {
  grid-area: p3;
}

.player-8:nth-of-type(4) {
  grid-area: p4;
}

.player-8:nth-of-type(5) {
  grid-area: p5;
}

.player-8:nth-of-type(6) {
  grid-area: p6;
}

.player-8:nth-of-type(7) {
  grid-area: p7;
}

.player-8:nth-of-type(8) {
  grid-area: p8;
}

#play-area {
  grid-area: dd;
}

#action-area {
  grid-area: aa;
}
