* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
  font-size: 14px;
  /* font-size: 1vw; */
}

.hidden {
  display: none !important;
}

.vis-hidden {
  visibility: hidden;
}

#content-container {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  border: 0;

  height: 100vh;
  width: 100vw;

  display: flex;
  overflow: auto;

  background-color: seagreen;
}

.page-container {
  width: 100%;
  margin: 2vh;
}

#join-page {
  display: flex;
  flex-flow: row wrap; /* equivalent to flex-direction and flex-wrap */
  justify-content: space-around;
}

#create-form,
#join-form {
  border: 3px dotted #ccc;
  height: fit-content;
  padding: 10px;
}

#game-banner {
  height: 8vh;
  width: 100%;
  position: relative;
}

#game-banner > * {
  height: 8vh;
}

#game-banner-left {
  position: absolute;
  left: 1rem;
  display: flex;
}

#game-banner-left button {
  padding: 5px 10px;
  margin: 5px;
}

#game-banner-right {
  position: absolute;
  right: 1rem;
}

#game-body {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;

  display: flex;
  gap: 2vw;
  --grid-dim: 7;
  --name-width: 10em;
  --full-width: calc(var(--name-width) + 2em);
  --empty-width: 3em;
  --full-height: 6lh;
  --empty-height: 2lh;
  --empty-count: calc(var(--grid-dim) - 5);
  --total-width: calc(
    5 * var(--full-width) + var(--empty-count) * var(--empty-width)
  );
  --total-height: calc(
    5 * var(--full-height) + var(--empty-count) * var(--empty-height)
  );
}

#game-body > div {
  background-color: green;
  flex-shrink: 0;

  margin: 1em;
  padding: 1em;
  border-radius: 1.5em;
}

div#game-left {
  margin-right: 0em;
}

div#game-right {
  margin-left: 0em;
}

div#game-left {
  /*
    now old:

    - is empty
    p is player in 6 or 8
    s is self (player)
    d is part of display area
    6 is player in 6
    8 is player in 8

    ---p---
    p-----p
    --ddd--
    8-ddd-8
    --ddd--
    p-----p
    --sss--
  */

  display: grid;
  grid-template-columns:
    var(--full-width) repeat(calc(var(--empty-count) / 2), var(--empty-width))
    repeat(3, var(--full-width)) repeat(
      calc(var(--empty-count) / 2),
      var(--empty-width)
    )
    var(--full-width);
  grid-template-rows:
    var(--full-height) repeat(calc(var(--empty-count) / 2), var(--empty-height))
    repeat(3, var(--full-height)) repeat(
      calc(var(--empty-count) / 2),
      var(--empty-height)
    )
    var(--full-height);
  grid-template-areas:
    "p4 .  .  p5 .  .  p6"
    ".  .  .  .  .  .  . "
    ".  .  dd dd dd .  . "
    "p3 .  dd dd dd .  p7"
    ".  .  dd dd dd .  . "
    ".  .  .  .  .  .  . "
    "p2 .  ss ss aa .  p8";
}

.player,
#play-area,
#action-area,
#outer-declare-area {
  position: relative;
  background-color: turquoise;
  border-radius: 10px;
  border: 3px solid lightseagreen;
  text-align: center;
  /* display: inline; */
}

.name-div {
  height: calc(1lh + 2px);
  margin: 5px;
}

.player-name,
input.player-name#self-name {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  box-shadow: none;

  display: inline-block;

  height: 1lh;
  width: var(--name-width);
  background-color: lightgreen;
  border-radius: 5px;
  border: 1px solid lightseagreen;
  text-align: center;
  overflow: hidden;
}

.player-cards {
  height: 3lh;
  width: var(--name-width);
  padding: 0.1vw;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
  overflow: hidden;
}

#player-self .player-cards {
  width: calc(2 * var(--name-width));
}

.player-cards .card {
  height: 190px;
  width: 140px;
}

.player-turn {
  position: absolute;
  right: 0.1em;
  top: calc(1px + 0.25lh);
  background-color: red;
  height: 0.5lh;
  width: 0.5em;
  border-radius: 30%;
}

#player-self {
  grid-area: ss;
}

#player-p2 {
  grid-area: p2;
}

#player-p3 {
  grid-area: p3;
}

#player-p4 {
  grid-area: p4;
}

#player-p5 {
  grid-area: p5;
}

#player-p6 {
  grid-area: p6;
}

#player-p7 {
  grid-area: p7;
}

#player-p8 {
  grid-area: p8;
}

#play-area {
  grid-area: dd;
}

.player.ally {
  border-color: #4caf50;
}

.player.opp {
  border-color: red;
}

#action-area {
  grid-area: aa;

  background-color: turquoise;

  text-align: center; /* Consider using flex */
}

#action-area .action-btn {
  margin: 5px auto;
  width: 80%;
}

#game-right {
  position: relative;

  height: var(--total-height);
  width: calc(var(--total-width) / 3);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  align-items: center;
  justify-items: center;
}

#last-ask {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#last-ask > div {
  display: flex;
  align-items: center;
  justify-items: center;
}

#ask-card .card {
  /* Looks bad but oh well */
  height: 100%;
  width: 100%;
}

#ask-success,
#ask-failure {
  display: none;
  width: 100%;
  height: auto;
}

.success #ask-success,
.failure #ask-failure {
  display: block;
}

#outer-declare-area {
  height: 90%;
  width: 90%;
}

#declare-area {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(4, 22.5%);
  align-content: center;
  justify-content: center;
}

.half-set {
  margin: 3px;
  padding: 2px;
  border: 1px solid grey;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.half-set .card {
  flex: 1;
}

/* hm we can scale cards it's only funny for the hands (probably because of our stacking thing) */
