.player-cards {
  font-size: 1.5em;
}

#player-self .player-cards {
  font-size: 2.5em;
}

.player-cards:not(#player-self .player-cards) {
  color: darkgreen;
}

.color-red {
  color: red;
}

.color-black {
  color: black;
}
